<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>BME</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/">BIO Medical-Engineering</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/addblog">Add Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/download">Download</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About</h1>
            <span class="subheading">A short note on Bio medical field</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p style="text-align: center;"><span style="text-decoration: underline;"><strong><span style="font-size: 24pt;">About Instructor </span></strong></span></p>
<table style="border-collapse: collapse; width: 100%; height: 202px; background-color: #ffffff; border-color: #ffffff; border-style: hidden;">
<tbody>
<tr style="height: 202px;">
<td style="width: 23.6689%; height: 202px; text-align: center;"><img src="/img/amitsir.jpg" alt="" width="160" height="193" /></td>
<td style="width: 77.5394%; height: 202px;">
<table style="border-collapse: collapse; width: 100%; height: 64px; background-color: #ffffff; border-color: #ced4d9; border-style: hidden;" border="1">
<tbody>
<tr style="height: 10px;">
<td style="width: 34.4963%; height: 10px;"><strong>NAME:</strong></td>
<td style="width: 61.2357%; height: 10px;">AMIT NEOGI</td>
</tr>
<tr style="height: 10px;">
<td style="width: 34.4963%; height: 10px;"><strong>DESIGNATION:</strong></td>
<td style="width: 61.2357%; height: 10px;">ASSISTANT PROFESSOR</td>
</tr>
<tr style="height: 22px;">
<td style="width: 34.4963%; height: 22px;"><strong>DEPARTMENT:</strong></td>
<td style="width: 61.2357%; height: 22px;">PHYSICS</td>
</tr>
<tr style="height: 22px;">
<td style="width: 34.4963%; height: 22px; text-align: left;"><strong>RESEARCH AREA:</strong></td>
<td style="width: 61.2357%; height: 22px;">BIO MEDICAL ENGINEERING</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p class="MsoNormal" style="mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: normal; mso-outline-level: 2;"><span style="text-decoration: underline;"><strong><span style="font-size: 18.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">Contact Information</span></strong></span></p>
<p class="MsoNormal" style="mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: normal;"><strong><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">Address :</span></strong><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;"> <br />Dr Amit Neogi Assistant Professor Department of Physics The LNM Institute of Information Technology, Rupa Ki Nangal, Po-Sumel, Via- Jamdoli Dt-Jaipur-302031 </span></p>
<p class="MsoNormal" style="mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: normal;"><strong><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">City :</span></strong><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;"> JAIPUR&nbsp;</span></p>
<p class="MsoNormal" style="mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: normal;"><strong><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">State :</span></strong><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;"> RAJASTHAN </span></p>
<p class="MsoNormal" style="mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: normal;"><strong><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">Country :</span></strong><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;"> INDIA </span></p>
<p class="MsoNormal" style="mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: normal;"><strong><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">Email Address :</span></strong><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;"> aneogi@lnmiit.ac.in </span></p>
<p class="MsoNormal" style="mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: normal;"><strong><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">Phone [Mobile] :</span></strong><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;"> 9413839224 </span></p>
<p class="MsoNormal" style="mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: normal;"><strong><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">Office Extension :</span></strong><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;"> 0 </span></p>
<p class="MsoNormal" style="mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: normal;"><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;"> </span></p>
<p class="MsoNormal" style="mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: normal; mso-outline-level: 2;"><span style="text-decoration: underline;"><strong><span style="font-size: 18.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">Academic Information</span></strong></span></p>
<table class="MsoNormalTable" style="border-collapse: collapse; width: 100%; background-color: #ffffff; border-color: #CED4D9; border-style: hidden;" border="1" cellpadding="0">
<thead>
<tr style="mso-yfti-irow: 0; mso-yfti-firstrow: yes;">
<td style="width: 3.0%; padding: .75pt .75pt .75pt .75pt;" width="3%">&nbsp;</td>
<td style="width: 32.0%; padding: .75pt .75pt .75pt .75pt;" width="32%">
<p class="MsoNormal" style="margin-bottom: .0001pt; text-align: center; line-height: normal;" align="center"><strong><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">Degree/Diploma </span></strong></p>
</td>
<td style="width: 20.0%; padding: .75pt .75pt .75pt .75pt;" width="20%">
<p class="MsoNormal" style="margin-bottom: .0001pt; text-align: center; line-height: normal;" align="center"><strong><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">Institute/ University </span></strong></p>
</td>
<td style="width: 10.0%; padding: .75pt .75pt .75pt .75pt;" width="10%">
<p class="MsoNormal" style="margin-bottom: .0001pt; text-align: center; line-height: normal;" align="center"><strong><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">Year </span></strong></p>
</td>
<td style="width: 15.0%; padding: .75pt .75pt .75pt .75pt;" width="15%">
<p class="MsoNormal" style="margin-bottom: .0001pt; text-align: center; line-height: normal;" align="center"><strong><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">Branch/Specialization </span></strong></p>
</td>
</tr>
</thead>
<tbody>
<tr style="mso-yfti-irow: 1; mso-yfti-lastrow: yes;">
<td style="padding: 0.75pt; width: 3%;">
<p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">1 </span></p>
</td>
<td style="width: 32.0%; padding: .75pt .75pt .75pt .75pt;" width="32%">
<p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">Ph. D. &nbsp;<span style="color: gray;"> (Doctor of Philosophy ) </span></span></p>
</td>
<td style="width: 20.0%; padding: .75pt .75pt .75pt .75pt;" width="20%">
<p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">Physics </span></p>
</td>
<td style="width: 10.0%; padding: .75pt .75pt .75pt .75pt;" width="10%">
<p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">1999 </span></p>
</td>
<td style="width: 15.0%; padding: .75pt .75pt .75pt .75pt;" width="15%">
<p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">Laser Plasma Interaction Title of Phd Thesis: Temporal and Spatial variation of Laser Ablated Carbon Plasma in Gas and Magnetic Field </span></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<h2><span style="text-decoration: underline;"><span style="font-family: 'Calibri',sans-serif; mso-ascii-theme-font: minor-latin; mso-hansi-theme-font: minor-latin; mso-bidi-theme-font: minor-latin;">Research Publications</span></span></h2>
<p><span style="mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin;">Bluetooth Controlled Life Savior System,Ashutosh Baheti, Anshul Jain, Yamini Goyal, and Dr. Amit Neogi,INDICON-2012, Dec 8, 2012. DEC&nbsp;&nbsp;2012 </span></p>
<p><span style="mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin;"> </span></p>
<p class="MsoNormal" style="mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: normal; mso-outline-level: 2;"><span style="text-decoration: underline;"><strong><span style="font-size: 18.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">Term Courses Conducted</span></strong></span></p>
<table class="MsoNormalTable" style="border-collapse: collapse; width: 100%; height: 47px; background-color: #ffffff; border-color: #ced4d9; border-style: hidden;" border="1" cellpadding="0">
<thead>
<tr style="height: 37px;">
<td style="width: 3%; padding: 0.75pt; height: 37px;" width="3%">&nbsp;</td>
<td style="width: 20%; padding: 0.75pt; height: 37px;" width="20%">
<p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;"><strong><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">Type </span></strong></p>
</td>
<td style="width: 10%; padding: 0.75pt; height: 37px;" width="10%">
<p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;"><strong><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">Month </span></strong></p>
</td>
<td style="width: 7%; padding: 0.75pt; height: 37px;" width="7%">
<p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;"><strong><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">Year </span></strong></p>
</td>
<td style="width: 60%; padding: 0.75pt; height: 37px;" width="60%">
<p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;"><strong><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">Information </span></strong></p>
</td>
</tr>
</thead>
<tbody>
<tr style="height: 10px;">
<td style="width: 3%; padding: 0.75pt; height: 10px;" width="3%">
<p class="MsoNormal" style="margin-bottom: .0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">1 </span></p>
</td>
<td style="width: 20%; padding: 0.75pt; height: 10px;" width="20%">&nbsp;</td>
<td style="width: 10%; padding: 0.75pt; height: 10px;" width="10%">
<p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">JULY </span></p>
</td>
<td style="width: 7%; padding: 0.75pt; height: 10px;" width="7%">
<p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">2009 </span></p>
</td>
<td style="width: 60%; padding: 0.75pt; height: 10px;" width="60%">
<p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">One Week Workshop on Matlab </span></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p class="MsoNormal" style="mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: normal; mso-outline-level: 2;"><span style="text-decoration: underline;"><strong><span style="font-size: 18.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">Training/Conferences/Short Term Courses Attended</span></strong></span></p>
<table class="MsoNormalTable" style="border-collapse: collapse; width: 100%; height: 74px; background-color: #ffffff; border-color: #ced4d9; border-style: hidden;" border="1" cellpadding="0">
<thead>
<tr style="height: 37px;">
<td style="width: 3%; padding: 0.75pt; height: 37px;" width="3%">&nbsp;</td>
<td style="width: 20%; padding: 0.75pt; height: 37px;" width="20%">
<p class="MsoNormal" style="margin-bottom: .0001pt; text-align: center; line-height: normal;" align="center"><strong><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">Type</span></strong></p>
</td>
<td style="width: 7%; padding: 0.75pt; height: 37px;" width="7%">
<p class="MsoNormal" style="margin-bottom: .0001pt; text-align: center; line-height: normal;" align="center"><strong><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">Month</span></strong></p>
</td>
<td style="width: 10%; padding: 0.75pt; height: 37px;" width="10%">
<p class="MsoNormal" style="margin-bottom: .0001pt; text-align: center; line-height: normal;" align="center"><strong><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">Year </span></strong></p>
</td>
<td style="width: 60%; padding: 0.75pt; height: 37px;" width="60%">
<p class="MsoNormal" style="margin-bottom: .0001pt; text-align: center; line-height: normal;" align="center"><strong><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">Information </span></strong></p>
</td>
</tr>
</thead>
<tbody>
<tr style="height: 37px;">
<td style="padding: 0.75pt; width: 3%; height: 37px;">
<p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">1 </span></p>
</td>
<td style="width: 20%; padding: 0.75pt; height: 37px;" width="20%">&nbsp;</td>
<td style="width: 7%; padding: 0.75pt; height: 37px;" width="7%">
<p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">SEPT </span></p>
</td>
<td style="width: 10%; padding: 0.75pt; height: 37px;" width="10%">
<p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">2012 </span></p>
</td>
<td style="width: 60%; padding: 0.75pt; height: 37px;" width="60%">
<p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; mso-fareast-language: EN-IN;">Bio-Inspired System Science, IIT Jodhpur </span></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p style="text-align: center;"><span style="text-decoration: underline; font-size: 24pt;"><strong>About the Cource</strong></span></p>
<div class="container">
<div class="row">&nbsp;</div>
</div>
<p>&nbsp;</p>
<p style="text-align: justify;"><strong>Biomedical engineering (BME) </strong>is the application of engineering principles and design concepts to medicine and biology for healthcare purposes.This field seeks to close the gap between engineering and medicine, combining the design and problem solving skills of engineering with medical and biological sciences to advance health care treatment, including diagnosis, monitoring, and therapy.Biomedical engineering has only recently emerged as its own study, compared to many other engineering fields. Such an evolution is common as a new field transitions from being an interdisciplinary specialization among already-established fields, to being considered a field in itself.</p>
<p>&nbsp;</p>
<p style="text-align: justify;">Much of the work in biomedical engineering consists of research and development, spanning a broad array of subfields. Prominent biomedical engineering applications include the development of biocompatible prostheses, various diagnostic and therapeutic medical devices ranging from clinical equipment to micro-implants,common imaging equipment such as <em>MRIs and EEGs</em>, regenerative tissue growth, pharmaceutical drugs and therapeutic biologicals.</p>
<p>&nbsp;</p>
<h2 style="text-align: justify;">Major Milestones</h2>
<p>&nbsp;</p>
<ul class="b" style="text-align: justify;">
<li><strong>1895:</strong>Conrad Roentgen(Germany) discovered the <em>X-ray using gas discharged tubes.</em></li>
<li><strong>1903:</strong> William Eindhoven invented the <em>electrocardiogram (ECG).</em></li>
<li><strong>1929:</strong> Hans Berger invents the <em>electroencephalogram(EEG)</em>.</li>
<li><strong>1930:</strong> X-rays were being used to visualize most organ systems using radio-opaque materials.</li>
<li><strong>Mid 1930&prime;s &ndash; early 1940's</strong>: Antibiotics,sulfanilamide and pencillin reduced cross-infection in hospitals.</li>
<li><strong>1940:</strong> Cardiac catheterization.</li>
<li><strong>1943:</strong> The International Bio-Physical Society was formed.</li>
<li><strong>1948:</strong> The first conference of Engineering in Medicine &amp; Biology was held in the United States.</li>
<li><strong>1950:</strong> Electron microscope.</li>
<li><strong>1950&prime;s &ndash; early 1960&prime;s:</strong> Nuclear medicine.</li>
<li><strong>1953:</strong> Cardiopulmonary bypass <em>(Heart&ndash;Lung machine)</em>.</li>
<li><strong>1970:</strong> Computer tomography<em>(CT)</em>and magnetic resonance imaging <em>(MRI)</em>.</li>
<li><strong>1997:</strong> <em>First Indigenous endovascular coronary stent</em> (Kalam-Raju stent) was developed by the Care Foundation.</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
      </div>
    </div>
    
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2020</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>

</body>

</html>
